<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table>
  <tr>
    <th>Name</th>
    <th>Balance</th>
    <th>Type</th>
    <th>Index</th>
    <th>Kingness</th>
    <th>Risk Analysis</th>
  </tr>
  <tr th:each="account : ${accounts}" th:style="${account.isKingOwner() ? 'background-color: yellow' : 'color:black'}">

      <td th:text="${account.getName()}"></td>
      <td th:text="${account.getBalance()}"> </td>
      <td th:text="${account.getAnimalType()}"></td>
      <td th:text="${accountStat.index}" ></td>
      <td th:if="${account.isKingOwner()}">King</td>
        <td th:if="${account.isKingOwner() == false}"></td>

    <div th:switch="${account.isBadGuy()}">
        <td th:case="true">Bad guy</td>
        <td th:case="false">Good guy</td>
    </div>

      <td>
        <form th:action="@{/accounts/increase}" method="POST">
        <button>Raise Balance</button>
        </form></td>

  </tr>
</table>
<div>
  <button onclick="window.location.href = '/accounts/add';">Add a new Account</button>
</div>
</body>
</html>

<!--<div th:switch="${user.role}">
  <p th:case="'admin'">User is an administrator</p>
  <p th:case="#{roles.manager}">User is a manager</p>
</div>-->