<!DOCTYPE html>
<html lang="en "xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Assignee adder</title>
</head>
<body>

<h1>Add new Assignee</h1>

<form th:action="@{/assignee/add}" method="post" th:object="${newassignee}">

  <label for="name">Assignee</label>
  <input
      type="text"
      name="name"
      id="name"
      th:field="*{name}"
      required
  />
  <br>

  <label for="email"></label>
  <input
      type="text"
      name="email"
      id="email"
      th:field="*{email}"
      required
  />  <br>
  <button type="submit">Save</button>
</form>


</body>
</html>