<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Assignees</title>
</head>
<body>
<a href="/todo/add">Add new todo</a> <br>
<a href="/todo/">Show All todos</a> <br>
<a href="/assignee/list">Show assignees</a> <br>
<h1> Available Assignees</h1>
<a href="/assignee/add">Add new Assignee</a> <br>
<table>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>EMAIL</th>
  </tr>
  <tr th:each="assignee : ${assignees}">
    <td th:text="${assignee.getId()}" th:value="${assignee.getId()}"></td>
    <td><a th:if="${assignee.getName()} != null" th:href="@{'/assignee/'+ ${assignee.id} + '/todos'}" th:text="${assignee.getName()}" th:value="${assignee.getName()}"></a></td>
    <td th:text="${assignee.getEmail()}" th:value="${assignee.getEmail()}"></td>
    <td><a th:href="@{'/assignee/delete/' + ${assignee.id}}">delete</a></td>
     </tr>
</table>

</body>
</html>