<!DOCTYPE html>
<html lang="en "xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<h1>Edit Todo</h1>

<form th:action="@{'/todo/edit/' + ${id}}" method="post" th:object="${todo}">

  <label for="title">Todo</label>
  <input
      type="text"
      name="title"
      id="title"
      th:field="*{title}"
      required
  />
  <br>

  <label for="urgent"></label>
  <input
      type="checkbox"
      name="urgent"
      id="urgent"
      th:field="*{urgent}"

  /> Urgent
  <input
      type="checkbox"
      name="done"
      id="done"
      th:field="*{done}"

  /> Done <br>
  <select  th:field = "*{assigneeName}">
    <option th:each="assignee : ${assignees}" th:text="${assignee.getName()}" th:value="${assignee.getName()}"></option>
  </select>
  <button type="submit">Save</button>
</form>


</body>
</html>