<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1> Todos for today</h1>
<table>
  <tr>
    <th>ID</th>
    <th>ACTION</th>
    <th>DONE</th>
    <th>URGENT</th>
  </tr>
  <tr th:each="todo : ${todos}">
    <td th:text="${todo.getId()}" th:value="${todo.getId()}"></td>
    <td th:text="${todo.getTitle()}" th:value="${todo.getTitle()}"></td>
    <td th:text="${todo.isDone()}" th:value="${todo.isDone()}"></td>
    <td th:text="${todo.isUrgent()}" th:value="${todo.isUrgent()}"></td>
  </tr>
</table>

</body>
</html>