<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1> Todos for today</h1>
<a href="/todo/add">Add new todo</a> <br>
<a href="/todo/">Show All todos</a> <br>
<a href="/assignee/list">Show assignees</a> <br>

<div id = "SearchField"></div><!--SearchField-->
<p class = "searchfield">Search for</p>
<form action="/todo/search" method="POST">
  <input type="text" name="searched" id="search" placeholder="...brooming, killing etc." required>
  <button class = "searchfield">Search</button>
</form>
</div>

<table>
  <tr>
    <th>ID</th>
    <th>ACTION</th>
    <th>DONE</th>
    <th>URGENT</th>
    <th>ASSIGNEE</th>
  </tr>
  <tr th:each="todo : ${todos}">
    <td th:text="${todo.getId()}" th:value="${todo.getId()}"></td>
    <td th:text="${todo.getTitle()}" th:value="${todo.getTitle()}"></td>
    <td th:text="${todo.isDone()}" th:value="${todo.isDone()}"></td>
    <td th:text="${todo.isUrgent()}" th:value="${todo.isUrgent()}"></td>
    <td th:text="${todo.getAssignee()}" th:value="${todo.getAssignee()}"></td>
    <td><a th:href="@{'/todo/delete/' + ${todo.id}}">delete</a></td>

  </tr>
</table>

</body>
</html>