<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Posts</title>
</head>
<body>

<a href="/add">Submit new post</a> <br>

<h1> Trending posts </h1>


<table>
  <!--tr>
    <th>VOTES</th>
    <th>+</th>
    <th>-</th>
    <th>TITLE</th>
  </tr-->
  <tr th:each="post : ${posts}">
    <td th:text="${post.votes}" th:value="${post.votes}"></td>
    <td><!--a th:href="@{'/todo/delete/' + ${todo.id}}">delete</a-->+</td>
    <td><!--a th:href="@{'/todo/edit/' + ${todo.id}}">edit</a-->-</td>
    <td> <a th:text="${post.title}" th:value="${post.title}" th:href="${post.link}"></a></td>
  </tr>
</table>

</body>
</html>