<!DOCTYPE html>
<html>
    <head>
            <link rel=stylesheet href="../static/webshopStyles.css" type="text/css">
    </head>
    <body>
        <h1>My Shop</h1> <!--Title-->
        <div class = "menu"><!--Menu-->
            <button class = "menu">ONLY AVAILABLE</button>
            <button class = "menu">CHEAPEST FIRST</button>
            <button class = "menu">CONTAINS NIKE</button>
            <button class = "menu">AVERAGE STOCK</button>
            <button class = "menu">MOST EXPENSIVE AVAILABLE</button>
        </div>

        <div id = "SearchField"></div><!--SearchField-->
            <p class = "searchfield">Search for</p>
            <form action="">
                <input type="search" name="email" id="email" placeholder="...something like Nike" required>
                <button class = "searchfield">Search</button>
            </form>
            
        <div id = "Table"><!--Table-->
            <Table>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>      
            </Table>
        </div>
    </body>
</html>