<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<label>New Fox</label>
<form th:action="@{/register}" th:method="post" th:object="${fox}">
  <input type="text" th:field="*{name}" required placeholder="Mr. Fox" oninvalid="this.setCustomValidity('Please add a name')">
  <input type="text" th:field="*{food}" required placeholder="carrots" oninvalid="this.setCustomValidity('Please add a food')">
  <input type="text" th:field="*{drink}" required placeholder="Tequila" oninvalid="this.setCustomValidity('Please add a drink')">
  <button type="submit">Create</button>
</form>
</body>
</html>