body {
    background-color: lightgray
}
form {
    background-color: #fff;
    padding: 30px 50px;
    margin: 0 auto;
    width: 300px;
    letter-spacing: 0.03em;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label{
    display: block;
    margin:25px, 8px, 25px, 16px; 
}

.right-aligned{
    text-align: right;
}

.uppercase{
text-transform: uppercase;
}

.inputData{
    color: #7e7e7e;
    font-size: 10px;
    margin:25px 1px;
}

a{
    color: grey;
    font-size: 10px;
}

input[type=text], input[type=password]{
    width: 300px;
    height: 30px;
    border: 1px lightgray solid;
    border-radius: 4px;
    
}

button{
    background-color: black;
    color: #fff;
    border: 0;
    border-radius: 25px;
    width: 100px;
    box-shadow: none;
    padding: 10px 25px;
    margin: 40px 1px 20px;
}

h1 {
    font-size: 20px;
    font-style: normal;
    color: #7e7e7e;
}

input[type=text]:focus, input[type=password]:focus{
    border:1px green solid;
    outline: none;
}